.*ignore
.env
.eslintrc.yml
.git
.github
.gitlab-ci.yml
.idea
.pnpm-store
.prettierrc.yml
dist
docker-compose.yml
docker-compose-prod.yml
docker-compose-test.yml
Dockerfile
node_modules
README.md
test.http